* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



/* GAME SECTION */

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 0;
    gap: 8px;
}

#choices {
    display: flex;
    justify-content: center;
    gap: 16px;
}


#rock {
    width: 200px;
    height: 200px;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

#rock:hover, #paper:hover, #scissors:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

#paper {
    width: 200px;
    height: 200px;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

#scissors {
    width: 200px;
    height: 200px;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

#currentWinner {
    font-size: 28px;
}


#gameProgess {
    display: flex;
    justify-content: center;
    gap: 16px;
}

#playerCurrentChoice {
    width: 300px;
    height: 100px;
}

#computerCurrentChoice {
    width: 300px;
    height: 100px;   
}

#playerCurrentChoice > h2 {
    border: 2px solid black;
    min-height: 40px;
    padding: 10px;

    text-align: center;
}

#computerCurrentChoice > h2 {
    border: 2px solid black;
    min-height: 40px;
    padding: 10px;

    text-align: center;
}

/* SCORE SECTION */

#score {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: 32px 0;
}

#score > h3 {
    font-size: 20px;
    text-decoration: underline;
}

#showScore {
    display: flex;
    justify-content: center;
    gap: 16px;
}

#playerScore {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

#computerScore {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* MODAL SECTION */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.5);

    display: none;
    justify-content: center;
    align-items: center;
}


#modal {
    display: none; /*Hidden by default */
    position: fixed;
    z-index: 1;
    width: 300px;
    height: 100px;
    background-color: black;
    border: 3px solid white;
    border-radius: 5px;

    flex-direction: column;
}

#modalContent {
    background-color: #fefefe;
    border: 10px solid white;
    height: 30px;
    font-size: 16px;
    font-weight: bold;

    display:flex;
    justify-content: center;
    align-items: center;
}

#modalRestart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#modalButton {
    background-color: rgb(80, 78, 78);
    border-radius: 5px;
    border: 1px solid rgb(80, 78, 78);
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 2px;
}

#modalButton:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: black;
    color: white;
}

/* FOOTER SECTION */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}